* {
    padding: 0px;
    margin: 0px;
}
html {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:bisque;
    font-size:x-large;
    
}
.video {
    width: 100vm;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}
.header {
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
