@use "mixins";

body {
    padding: 5;
    margin: 0;
}
.container {
    width: 100%;
    background-color: azure;
    min-height: 100vh;
    padding: 0.5rem;
}
h1 {
    margin: 0;
    @include mixins.formato-texto();
}
p {
    @include mixins.formato-texto(#a24444);
}

.listado {
    @include mixins.formato-texto();
    width: 10rem;
    padding: 0.5rem;
    ul {
        margin: 0 0.5rem;
        li {
            list-style: none;
            &:hover {
                color: white;
            
            }
        }
    }
}
