@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,800;1,400;1,700&display=swap');
html{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'EB Garamond', serif; */
    font-size:larger;
    font-weight: 300;
    color: #e5989b;
}